<!-- <button mat-raised-button (click)="isLinear = true" id="toggle-linear">Enable linear mode</button> -->
<mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
  <mat-step [stepControl]="form">
    <form [formGroup]="form">
      <ng-template matStepLabel>Details</ng-template>
      <mat-form-field appearance="fill" class="example-width">
        <mat-label>Company</mat-label>
        <input
        matInput
        placeholder="Company"
        [matAutocomplete]="auto"
        [formControl]="myControl"
        formControlName="company"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let item of filteredOptions|async" [value]="item">{{item}}</mat-option>
      </mat-autocomplete>
      </mat-form-field>
        <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
        <mat-form-field appearance="fill">
        <mat-label>Store</mat-label>
          <input
          matInput
          placeholder="Store"
          [matAutocomplete]="auto_store"
          [formControl]="myControl_store"
          formControlName="store"
        />
        <mat-autocomplete autoActiveFirstOption #auto_store="matAutocomplete">
          <mat-option *ngFor="let item of filteredOptions_store|async" [value]="item">{{item}}</mat-option>
        </mat-autocomplete>
        </mat-form-field>
       <mat-form-field appearance="fill">
        <mat-label>Remarks</mat-label>
        <textarea matInput formControlName="remarks"></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext (click)="nextStep()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="form">
    <form [formGroup]="form">
      <div formArrayName="inventories">
      <ng-template matStepLabel>Inventories</ng-template>
      <div *ngFor="let inventory of inventories?.controls; let i = index" [formGroupName]="i"  class="inventory-item">


        <mat-form-field appearance="fill">
          <mat-label>Item Category</mat-label>
            <input
            matInput
            placeholder="Item Category"
            [matAutocomplete]="auto_item_cat"
            [formControl]="myControl_item_cat"
            formControlName="itemCategory"
            id="item_Category"
            (ngModelChange)="onItemCategoryChange(i)"
          />
          <mat-autocomplete autoActiveFirstOption #auto_item_cat="matAutocomplete">
            <mat-option *ngFor="let item of filteredOptions_item_cat|async" [value]="item">{{item}}</mat-option>
          </mat-autocomplete>
          </mat-form-field>



        <!-- <mat-form-field appearance="fill">
          <mat-label>Item</mat-label>
          <input matInput formControlName="item">
        </mat-form-field> -->
        <mat-form-field appearance="fill">
          <mat-label>Item</mat-label>
            <input
            matInput
            placeholder="Item"
            [matAutocomplete]="auto_item"
            [formControl]="myControl_item"
            formControlName="item"
            (ngModelChange)="onItemChange(i)"
            id="item"
          />
          <mat-autocomplete autoActiveFirstOption #auto_item="matAutocomplete">
            <mat-option *ngFor="let item of filteredOptions_item|async" [value]="item">{{item}}</mat-option>
          </mat-autocomplete>
          </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Quantity</mat-label>
          <input matInput formControlName="quantity"  (change)="onChange(i)">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Total Cost</mat-label>
          <input matInput formControlName="totalCost"  (change)="onChange(i)">
        </mat-form-field>
        <mat-form-field appearance="fill" style="pointer-events: none;">
          <mat-label>Cost Per Unit</mat-label>
          <input matInput formControlName="costPerUnit" >
        </mat-form-field>
        <button *ngIf="this.inventories.value.length>1"  mat-icon-button color="warn" (click)="removeInventoryItem(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <button mat-raised-button color="primary" (click)="addInventoryItem()">Add New</button>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext  (click)="onSubmit()">Submit</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
      </div>

    </form>
  </mat-step>
</mat-horizontal-stepper>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
